@font-face {
    font-family: "Inter";
    src: local("inter-regular"),
    url("./fonts/Inter-Regular.ttf") format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: local("inter-medium"),
    url("./fonts/Inter-Medium.ttf") format("truetype");
    font-weight:500;
  }

.app {
    background-image: url('./images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

// Hide Scrollbar
.app::-webkit-scrollbar {
    display: none; // Chrome, Opera, Safari
  }

  .app::-webkit-scrollbar {
    -ms-overflow-style: none;  // IE and Edge 
    scrollbar-width: none;  // Firefox 
  }

.page {
    margin-top: 2.5vh;
    width: 80vw;
    height: 90vh;
    margin-top: 10vh;
    margin: 3vh auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pageAuto {
    margin-top: 2.5vh;
    width: 80vw;
    height: auto;
    margin-top: 10vh;
    margin: 3vh auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pageContents {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: 'Inter';
    font-size: 75px;
    margin-top: 5vh;
    color: #38729D;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.subHeading {
    font-family: 'Inter';
    font-size: 40px;
    margin-top: 5vh;
    color: #38729D;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

.formItem {
    padding: 1em;
    margin: 1em 0;
    flex-grow: 1;
}

.formTextArea {
    @extend .formItem;
    min-height: 8em;
}

.arrayItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.buttonItem {
    width: 3rem;
    height: 3rem;
    flex-grow: 0;
    font-size: 1.5em;
}

.temp {
    padding-right: 60px;
}

.submit{
    width: 12vw;
    height: 6.5vh;
    background: #38729D;
    border: 0px solid #45AADD;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    }
    
.submit:hover{
    background: #4592dd;
}


#dropdown button{
    background-color: #45AADD;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 10vw;
  }

.dropdown button:active, .dropdown button:hover{
    background-color: #4592dd !important;
}

.mxSubmit{
    margin-top: 30px;
}

.articleSubmitButton {
    margin-top: 10px;
    align-self: center;
    margin-left: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
}