.wrapper{
    display: flex;
    width: 60vw;
    height: 25vh;
    justify-content: space-between;
}

.columnWrapper{
    display: flex;
    width: 45%;
    flex-direction: column;
}

.rowWrapper{
    display: flex;
    justify-content: space-between;
}

.submit{
    width: 15vw;
    height: 7.5vh;
    font-size: 20px;
}

.textArea{
    height: 17.5vh;
}

.endWrapper{
    display: flex;
    width: 60vw;
    height: 55%;
    justify-content: space-between;
    align-items: flex-end;
}

